body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 28px;
  color: #283647;
  text-align: center;
  padding: 25px;
}

h2 {
  font-size: 28px;
  color: #F36819;
  margin-bottom: 0px;
}

h3 {
  margin-top: 5px;
  margin-bottom: 8%;
  font-size: 20px;
  letter-spacing: 2px;
  color: #F7931D;
}

.lorem {
  font-weight: bold;
  color: #F36819;
}


nav .nav-logo {
  padding-top: 6px;
  height: 48px;
}

nav {
  background-color: #1676DD;
  height: 60px;
}

.container .sm-paragraph {
  padding-top: 25px;
}

.slanted-img {
  position: relative;
  width: 100%;
  margin-top: -20px;
  margin-bottom: 60px;
}

.above-slanted {
  margin-bottom: 0px;
}

.img-text {
  position: absolute;
  top: 100px;
  left: 17%;
  color: #e0e0e0;
  font-size: 25px;
  text-align: center;
}

.cust-btn {
  width: 215px;
  height: 40px;
  border-radius: 5px;
  background: linear-gradient(to right, #F36819, #f99f6b);
  font-size: 16px;
  color: white;
  box-shadow: 1px 2px 10px #4f4f4f;
  letter-spacing: 2px;
}

.second-btn {
  margin-top: 8%;
}

.percent {
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 55px;
}

.percent-text {
  color: #F36819;
  font-size: 14px;
}

.img-paragraph {
  margin: 8%;
}

.row .flush-img {
  padding: 0px;
}

.bottom-img {
  max-width: 100%;
}

.right-img {
  padding-left: 10px;
}

.left-img {
  padding-right: 10px;
}

#main-slider {
  margin-bottom: 50px;
}
