body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 28px;
  color: #283647;
  text-align: center;
  padding: 25px;
}

h2 {
  font-size: 28px;
  color: #F36819;
  margin-bottom: 0px;
}

h3 {
  margin-top: 5px;
  margin-bottom: 8%;
  font-size: 20px;
  letter-spacing: 2px;
  color: #F7931D;
}

.lorem {
  font-weight: bold;
  color: #F36819;
}


nav .nav-logo {
  padding-top: 6px;
  height: 48px;
}

nav {
  background-color: #1676DD;
  height: 60px;
}

.container .sm-paragraph {
  padding-top: 25px;
}

.slanted-img {
  position: relative;
  width: 100%;
  margin-top: -20px;
  margin-bottom: 60px;
}

.above-slanted {
  margin-bottom: 0px;
}

.img-text {
  position: absolute;
  top: 100px;
  left: 17%;
  color: #e0e0e0;
  font-size: 25px;
  text-align: center;
}

.cust-btn {
  width: 215px;
  height: 40px;
  border-radius: 5px;
  background: linear-gradient(to right, #F36819, #f99f6b);
  font-size: 16px;
  color: white;
  box-shadow: 1px 2px 10px #4f4f4f;
  letter-spacing: 2px;
}

.second-btn {
  margin-top: 8%;
}

.percent {
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 55px;
}

.percent-text {
  color: #F36819;
  font-size: 14px;
}

.img-paragraph {
  margin: 8%;
}

.row .flush-img {
  padding: 0px;
}

.bottom-img {
  max-width: 705px;
  max-height: 350px;
}

.phone-div {
  text-align: right;
  width: 50%;
}

.text-with-img {
  margin-top: 5%;
  margin-bottom: 5%;
}

.hero-img-text {
  position: absolute;
  top: 50%;
  left: 16%;
  z-index: 5;
  width: 84%;
}

.hero-img-text p {
  color: white;
  font-size: 48px;
  font-weight: bold;
  margin: 0 0 5px 0;
}

.envelope-background {
  border-radius: 5px 0 0 5px;
  background-color: #F7931D;
  height: 40px;
  width: 50px;
  display: grid;
  float: right;
}

.envelope {
  margin: auto;
}

#main-slider {
  margin-bottom: 50px;
}

.slider .indicators .indicator-item {
  background-color: white;
  border: 1px solid black;
  height: 12px;
  width: 12px;
  margin: 15px 7px 0 7px;
}

.slider .indicators .indicator-item.active {
  background-color: black;
}

#modal1 {
  background-color: transparent;
}

.modal input, textarea {
  background-color: white !important;
  border-radius: 5px !important;
  margin-top: 15px !important;
}

.modal label {
  color: white;
  font-size: 18px;
  padding: 2px;
}

.modal {
  box-shadow: none;
}

.modal-title {
  margin-bottom: 30px;
}

textarea {
  min-height: 5rem !important;
}

/* label focus color */
 .input-field input:focus + label, textarea:focus + label {
   color: #F7931D !important;
 }
 /* label underline focus color */
 .row .input-field input:focus, textarea:focus {
   border-bottom: 1px solid #F7931D !important;
   box-shadow: 0 1px 0 0 #F7931D !important
 }

 .modal-btn {
   margin-top: -45px;
 }
